body {
    background-color: lightgreen;
}

.item {
    background-color: skyblue;
    margin: 0.25em;
}

.item > summary {
    padding: 0.5em;
}

.item > p {
    margin: 0 0.5em;
}

.selected {
    background-color: orange;
}

h1, h3 {
    margin: 0;
}