body {
    min-height: 97vh;
    background: linear-gradient(rgb(25, 30, 30), rgb(7, 15, 15));
    color: white;
}

.item {
    background-color: rgb(40, 70, 40);
    margin: 0.25em;
}

.item > summary {
    padding: 0.5em;
}

.item > p {
    margin: 0 0.5em;
}

.selected {
    background-color: rgb(50, 225, 50);
    color: darkblue;
}

h1, h5 {
    margin: 0;
}

hr {
    margin: 1em 0em;
}